<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hero.rogueb.objects.mapper.ObjectMapper">
    <select id="findById" resultMap="ring">
        SELECT id, name FROM Objectinfo WHERE id = #{id};
    </select>
    <select id="findRing" resultMap="ring">
        SELECT id, name FROM Objectinfo WHERE type_id = 2;
    </select>

    <resultMap id="ring" type="net.hero.rogueb.objects.Ring">
        <constructor>
            <idArg column="id" javaType="_int"/>
            <arg column="name" javaType="String"/>
        </constructor>
    </resultMap>

</mapper>
